<a href="https://colab.research.google.com/github/Iany0909/INTMI_2025/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dupla: Iany Andrade Lopes e Anna Clara Tosi

In [1]:
idade = int(input("Digite sua idade: "))
if idade >= 16:
    print("Você já pode votar.")

Digite sua idade: 16
Você já pode votar.

In [2]:
n1 = float(input("Nota 1: "))
n2 = float(input("Nota 2: "))
media = (n1 + n2) / 2

if media >= 7:
    print("Aprovado!")
else:
    print("Reprovado!")

Nota 1: 5
Nota 2: 9
Aprovado!

In [3]:
temp = float(input("Temperatura: "))

if temp < 15:
    print("Fria")
elif temp < 25:
    print("Agradável")
elif temp < 35:
    print("Quente")
else:
    print("Muito quente")

Temperatura: 27
Quente

In [4]:
n = int(input("Digite um número: "))
if n % 2 == 0:
    print("Par")
else:
    print("Ímpar")

Digite um número: 7
Ímpar

In [6]:
sal = float(input("Salário atual: "))

if sal <= 2000:
    novo = sal * 1.10
elif sal <= 4000:
    novo = sal * 1.07
else:
    novo = sal * 1.05

print("Novo salário:", novo)

Salário atual: 5000
Novo salário: 5250.0

In [7]:
a = float(input("Número 1: "))
b = float(input("Número 2: "))
c = float(input("Número 3: "))

maior = a
if b > maior:
    maior = b
if c > maior:
    maior = c

print("Maior número =", maior)

Número 1: 2
Número 2: 3
Número 3: 4
Maior número = 4.0

In [8]:
ano = int(input("Ano: "))

if (ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0):
    print("Ano bissexto")
else:
    print("Ano comum")

Ano: 2026
Ano comum

In [9]:
idade = int(input("Idade: "))

if idade < 12:
    print("Ingresso infantil")
else:
    print("Ingresso adulto")

Idade: 9
Ingresso infantil

In [11]:
cod = int(input("Código do produto: "))

if cod == 1:
    print("Arroz")
elif cod == 2:
    print("Feijão")
elif cod == 3:
    print("Macarrão")
else:
    print("Código inválido")

Código do produto: 3
Macarrão

In [12]:
hora = int(input("Hora (0-23): "))

if 0 <= hora < 12:
    print("Bom dia!")
elif hora < 18:
    print("Boa tarde!")
else:
    print("Boa noite!")

Hora (0-23): 4
Bom dia!

In [15]:
soma = 0
while True:
    n = float(input("Digite um número (0 para parar): "))
    if n == 0:
        break
    soma += n

print("Soma total =", soma)

Digite um número (0 para parar): 1
Digite um número (0 para parar): 1
Digite um número (0 para parar): 1
Digite um número (0 para parar): 1
Digite um número (0 para parar): 0
Soma total = 4.0

In [16]:
senha = ""
while senha != "python123":
    senha = input("Digite a senha: ")

print("Bem-vindo!")

Digite a senha: senha
Digite a senha: senha123
Digite a senha: python123
Bem-vindo!

In [17]:
soma = 0
n = 1

while soma <= 100:
    soma += n
    print(n)
    n += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [19]:
soma = 0
cont = 0

while True:
    idade = int(input("Digite uma idade (negativo para sair): "))
    if idade < 0:
        break
    soma += idade
    cont += 1

print("Média das idades =", soma / cont)

Digite uma idade (negativo para sair): 98
Digite uma idade (negativo para sair): 09
Digite uma idade (negativo para sair): -1
Média das idades = 53.5

In [20]:
n = int(input("Início da contagem: "))

while n >= 0:
    print(n)
    n -= 1

Início da contagem: 2
2
1
0

In [21]:
for i in range(1, 51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [22]:
n = int(input("Número: "))

for i in range(1, 10+1):
    print(f"{n} x {i} = {n*i}")

Número: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [23]:
palavra = input("Digite uma palavra: ")

for letra in palavra:
    print(letra)

Digite uma palavra: Iany
I
a
n
y

In [24]:
maiores = 0
for i in range(5):
    idade = int(input("Idade: "))
    if idade > 18:
        maiores += 1

print("Total maiores de 18:", maiores)

Idade: 16
Idade: 18
Idade: 20
Idade: 22
Idade: 24
Total maiores de 18: 3

In [25]:
maior = float(input("Digite um número: "))

for i in range(6):
    n = float(input("Digite um número: "))
    if n > maior:
        maior = n

print("Maior número =", maior)

Digite um número: 7
Digite um número: 6
Digite um número: 8
Digite um número: 3
Digite um número: 1
Digite um número: 45
Digite um número: 4
Maior número = 45.0

In [26]:
maior = ""

for i in range(4):
    tarefa = input("Nome da tarefa: ")
    if len(tarefa) > len(maior):
        maior = tarefa

print("Tarefa com nome mais longo:", maior)

Nome da tarefa: Estudar
Nome da tarefa: Limpar
Nome da tarefa: Pintar
Nome da tarefa: Lavar
Tarefa com nome mais longo: Estudar

In [27]:
soma = 0

for i in range(2, 101, 2):
    soma += i

print("Soma dos pares =", soma)

Soma dos pares = 2550

In [28]:
pos = neg = zero = 0

for i in range(10):
    n = float(input("Número: "))
    if n > 0:
        pos += 1
    elif n < 0:
        neg += 1
    else:
        zero += 1

print("Positivos:", pos)
print("Negativos:", neg)
print("Zeros:", zero)

Número: 0
Número: 20
Número: -1
Número: 29
Número: -245
Número: 0
Número: 120
Número: 2335
Número: -23
Número: -465
Positivos: 4
Negativos: 4
Zeros: 2

In [29]:
for i in range(6):
    nome = input("Nome: ")
    if nome.upper().startswith(("A", "C")):
        print(nome)

Nome: Anna Clara
Anna Clara
Nome: Iany
Nome: Mikaely
Nome: Clara
Clara
Nome: Ana Luiza
Ana Luiza
Nome: Arlinda
Arlinda

In [30]:
while True:
    n = float(input("Digite um valor (999 para sair): "))
    if n == 999:
        break

Digite um valor (999 para sair): 35
Digite um valor (999 para sair): 46
Digite um valor (999 para sair): 999

In [31]:
for i in range(1, 21):
    if i % 4 == 0:
        continue
    print(i)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

In [32]:
for tentativa in range(3):
    senha = input("Senha: ")
    if senha == "python123":
        print("Acesso liberado!")
        break
else:
    print("Tentativas esgotadas.")

Senha: senha
Senha: senha6969
Senha: ianylinda
Tentativas esgotadas.

In [33]:
soma = 0
for i in range(10):
    n = float(input("Número: "))
    if n < 0:
        continue
    soma += n

print("Soma dos positivos =", soma)

Número: 9
Número: 8
Número: 0
Número: 8
Número: 77
Número: 9
Número: 9
Número: 3
Número: 5
Número: 2
Soma dos positivos = 130.0

In [34]:
soma = 0
n = 1

while True:
    soma += n
    n += 1
    if soma > 200:
        break

print("Soma final =", soma)

Soma final = 210

In [36]:
cont = 0
while True:
    palavra = input("Digite uma palavra ('fim' para sair): ")
    if palavra.lower() == "fim":
        break
    cont += 1

print("Total de palavras digitadas:", cont)

Digite uma palavra ('fim' para sair): iany
Digite uma palavra ('fim' para sair): sopa
Digite uma palavra ('fim' para sair): maça
Digite uma palavra ('fim' para sair): fim
Total de palavras digitadas: 3